.fa-soccer-ball-o:before, .fa-futbol-o:before {
    content: "\f1e3"}
.font-15, .nav-tabs .nav-link, .wizard .steps .number, .contact-list li .contact-name, #calendar.fc .fc-view-container .fc-view.fc-basic-view>table tbody tr td.fc-day-number, #calendar.fc .fc-view-container .fc-view.fc-agenda>table tbody tr td.fc-day-number, .blog_single_post .stats li, .new_timeline h3, .taskboard .dd-handle::after, .taskboard .dd-handle p {
    font-size: 15px;
}
.font-16 {
    font-size: 16px;
}
.ml-0, .dropdown-toggle:empty:after {
    margin-left: 0px;
}
.mr-0, .blog_left .blog_post .content .actions_sidebar a {
    margin-right: 0px;
}
.mb-0, .nav-tabs .nav-item, .card-body>:last-child, .card-header .card-title, .card-title:only-child, .card-table, .custom-checkbox, .right_sidebar .card ul, .setting-list li:last-child, .contact-list li .contact-name, .chat_app .chat_windows ul li:last-child, .right_chat, .inbox .custom-control, .taskboard .dd-handle h6, .widgets2 h6, .currency_state .number, .feeds_widget, .recent_comments li:last-child, .todo_list li:last-child, .w_user ul {
    margin-bottom: 0px;
}
.mb-10, .card, .setting-list li {
    margin-bottom: 10px;
}
.margin-0, .card-body, .card-fullscreen, .list-separated .list-separated-item>.row, .custom-switch, .wizard .content, .wizard .content .body label.error, .fc-overlay.left, .fc-overlay.right, #calendar.fc .fc-toolbar, #calendar.fc .fc-toolbar h2, .blog_left .blog_post .content .title, .new_timeline, .new_timeline h3, .feeds_widget li .feeds-body .title {
    margin: 0 !important;
}
.align-center, .card-icon, .dropdown-icon, .avatar, .stamp, .tag-addon, .selectgroup-button, .file_folder .icon, .blog_left .blog_post .content .actions_sidebar a {
    text-align: center;
}
html {
    direction: ltr;
}
body {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #f4f6f9;
    color: #434A54;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
    overflow-y: scroll;
    position: relative;
}
body.font-opensans {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
body.font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
#main_content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%}
.w80 {
    width: 80px;
}
.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}
.page {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    left: 280px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: calc(100% - 280px);
    position: relative;
}.page .section-light, .page .section-dark, .page .section-white, .page .section-gray, .page .section-body {
     padding: 0 20px;
 }.page .section-body {
      background: #f4f6f9;
  }.page-header {
       display: flex;
       justify-content: space-between;
       padding: 10px 0;
       align-items: center;
       border-bottom: 1px solid #E8E9E9;
   }
.page-header .left {
    display: flex;
    align-items: center;
}
.page-header .right {
    display: flex;
    align-items: center;
}
.page-header .right .nav-link {
    border: 0;
    padding: 10px;
}
.page-header .right .notification {
    position: relative;
}
.page-header-tab {
    border: 0;
}
.page-header-tab .nav-link {
    border-bottom: 0 !important;
}
.page-header-tab .nav-link.active, .page-header-tab .nav-link:hover {
    border-bottom: 0 !important;
    border-top: 3px solid !important;
    border-radius: 0 !important;
}.page-title {
     font-size: 17px;
     margin-bottom: 0;
     margin-right: 20px;
     white-space: nowrap;
 }
#header_top {
    z-index: 1030;
    position: fixed;
    width: 60px;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
#header_top .header-brand {
    padding: 0;
    transition: .3s opacity;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
}
#header_top .brand-logo {
    background: #077eec;
    padding: 10px;
    color: #fff;
    border-radius: 35px;
    display: inline-block;
}
.metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.metismenu>li {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 0% ;
    flex: 1 1 0 ;
    display: -webkit-box ;
    display: -ms-flexbox ;
    display: flex ;
    -webkit-box-orient: vertical ;
    -webkit-box-direction: normal ;
    -ms-flex-direction: column ;
    flex-direction: column ;
    position: relative ;
}
.metismenu>li i {
    font-size: 16px  ;
    width: 30px ;
    display: inline-block ;
    position: relative ;
    top: 1px ;
}
.metismenu a  {
    -webkit-transition: all 0.3s ease-out ;
    -moz-transition: all 0.3s ease-out ;
    -ms-transition: all 0.3s ease-out ;
    -o-transition: all 0.3s ease-out ;
    transition: all 0.3s ease-out ;
    display: block ;
    vertical-align: middle ;
    *vertical-align: auto ;
    *zoom: 1 ;
    *display: block ;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
    border-right: 2px solid transparent ;
    color: #292b30 ;
    position: relative ;
    padding: 10px 0 ;
    outline-width: 0 ;
    text-decoration: none;
}
.metismenu .active>a {
    font-weight: 600;
    color: #292b30;
    border-color: #077eec;
}
#left-sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 280px;
    background-color: #fff;
    border-right: 1px solid #E6E9ED;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    padding: 15px 15px 20px 75px;
}
#left-sidebar .brand-name {
    margin-top: 5px;
}
#left-sidebar .sidebar-nav {
    height: calc(100vh - 58px);
    overflow-y: auto;
    margin-right: -15px;
}#left-sidebar .menu_option {
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     opacity: 0.3;
 }
.header_top>.container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
.top_dark {
    background-color: #077eec !important;
    color: #fff;
}
.top_dark .page-header {
    border-color: #4292dc;
}
.top_dark .page-header .right .nav-link {
    background: transparent;
}
.icon i {
    margin-right: 10px;
    /* vertical-align: -1px; */
    color: #ffffff;
}
a.icon {
    text-decoration: none;
    cursor: pointer;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: inherit;
}
p, ul, ol, blockquote {
    margin-bottom: 1em;
}
img {
    max-width: 100%}
.nav-link, .nav-item {
    padding: 0 .75rem;
    min-width: 2rem;
    transition: .3s color;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.nav-tabs {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #9aa0ac;
    user-select: none;
    margin: 0 -.75rem;
}
.nav-tabs .nav-link {
    transition: .3s border-color;
    font-weight: 400;
    border: 0;
    color: inherit;
    border-bottom: 3px solid transparent;
    margin-bottom: -1px;
    padding: 1rem 0;
}
.nav-tabs .nav-link.active {
    border-color: #00BCD4;
    color: #077eec;
    background: transparent;
}
.nav-tabs .nav-item {
    position: relative;
}
.btn, .dataTables_wrapper .dataTables_paginate .paginate_button {
    font-size: 14px;
}
.btn.btn-default, .dataTables_wrapper .dataTables_paginate .btn-default.paginate_button {
    color: #4D5052;
    background-color: #fff;
    border-color: #E8E9E9;
    padding: 6px 18px;
}
.table {
    color: inherit;
}
.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.table th {
    color: #9aa0ac;
    font-size: .875rem;
    font-weight: 400;
    text-transform: uppercase;
}
.table td, .table th {
    border-color: #E8E9E9;
    font-size: 14px;
}
.table.table-vcenter td, .table.table-vcenter th {
    vertical-align: middle;
}
.table.table-striped tbody tr:nth-of-type(odd) {
    background: transparent;
}
.table.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.04);
}
.card {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: .55rem;
    border-color: #E6E9ED;
    position: relative;
    width: 100%}
.card-body {
    padding: 20px 20px;
    flex: 1 1 auto;
    position: relative;
}
.dropdown {
    display: inline-block;
}
.dropdown-menu {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.25);
    border: 0;
    min-width: 12rem;
    font-size: 14px;
}
.avatar {
    color: #4D5052;
    font-weight: 600;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #808488 no-repeat center/cover;
    position: relative;
    vertical-align: bottom;
    font-size: .875rem;
    user-select: none;
}
.avatar.avatar-blue {
    background-color: #c8d9f1;
    color: #2185d0;
}
.avatar.avatar-pink {
    background-color: #fcd3e1;
    color: #e03997;
}
.tag {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: .75rem;
    color: #6e7687;
    font-weight: 400;
    background-color: #D1D3D4;
    padding: 0 .5rem;
    line-height: 2em;
    display: inline-flex;
    cursor: default;
    user-select: none
}

.tag-success {
    background-color: #21ba45;
    color: #fff
}

.tag-info {
    background-color: #17a2b8;
    color: #fff
}

.tag-warning {
    background-color: #fbbd08;
    color: #fff
}

.tag-danger {
    background-color: #db2828;
    color: #fff
}

.tag-light {
    background-color: #E8E9E9;
    color: #fff
}

.tag-dark {
    background-color: #292b30;
    color: #fff
}

.tag-rounded {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.tag-rounded .tag-avatar {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.tags {
    margin-bottom: -.5rem;
    font-size: 0
}

.tags>.tag {
    margin-bottom: .5rem
}

.tags>.tag:not(:last-child) {
    margin-right: .5rem
}

.signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px
}

.form-group {
    margin-bottom: 25px;
    overflow: hidden
}

input {
    display: block !important;
    border: none !important;
    border-bottom: 1px solid #999 !important;
    padding: 6px 30px !important;
    box-sizing: border-box !important;
}

input::-webkit-input-placeholder {
    color: #999
}

input::-moz-placeholder {
    color: #999
}

input:-ms-input-placeholder {
    color: #999
}

input:-moz-placeholder {
    color: #999
}

input:focus {
    border-bottom: 1px solid #222
}

input:focus::-webkit-input-placeholder {
    color: #222
}

input:focus::-moz-placeholder {
    color: #222
}

input:focus:-ms-input-placeholder {
    color: #222
}

input:focus:-moz-placeholder {
    color: #222
}

input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none
}

input[type=checkbox]:not(old)+label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px
}

input[type=checkbox]:not(old)+label>span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #999;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: #fff;
    background-image: -moz-linear-gradient(white,#fff);
    background-image: -ms-linear-gradient(white,#fff);
    background-image: -o-linear-gradient(white,#fff);
    background-image: -webkit-linear-gradient(white,#fff);
    background-image: linear-gradient(white,#fff);
    vertical-align: bottom
}

input[type=checkbox]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(white,#fff);
    background-image: -ms-linear-gradient(white,#fff);
    background-image: -o-linear-gradient(white,#fff);
    background-image: -webkit-linear-gradient(white,#fff);
    background-image: linear-gradient(white,#fff)
}

input[type=checkbox]:not(old):checked+label>span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: material-design-iconic-font;
    font-weight: 700
}

.agree-term {
    display: inline-block;
    width: auto
}

label {
    left: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222
}

.label-has-error {
    top: 22%
}

label.error {
    background-position-y: 3px;
    padding-left: 20px;
    display: block;
    margin-top: 20px
}

label.valid {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background: 0 0
}

label.valid:after {
    font-family: material-design-iconic-font;
    content: '\f269';
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 16px;
    color: green
}

.label-agree-term {
    top: 0;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0)
}

.material-icons-name {
    font-size: 18px
}

body,h2,input {
    font-family: Poppins
}

.position-center,label {
    position: absolute;
    top: 50%
}

.form-group,.input-container,.label-agree-term,label.error {
    position: relative
}

.todo-input{
    border-radius: 0;
    border: none !important;
    border-bottom: 1px solid #999 !important;
    padding: 6px 30px !important;
    box-sizing: border-box !important;
}

.description-label {
    position: absolute;
    top: 32%
}

.form-button-primary{
  background: #6dabe4 !important;
    border-color: #6dabe4 !important;
}

.form-button-primary:hover{
    background: #3498f3 !important;
    border-color: #4292dc !important;
}
.error{color:red;margin-top:5px}

.register-form input.dp__pointer.dp__input_readonly.dp__input.dp__input_icon_pad.dp__input_reg {
    border-radius: 0;
    background-color: transparent !important;
}

.register-form svg.dp__icon.dp__input_icon.dp__input_icons {
    color: black !important;
    margin-left: -15px !important;
}



/* Dropdown styles */
.dropdown {
    position: relative !important;
}

/* Dropdown toggle styles */
.dropdown-toggle {
    cursor: pointer !important;
}

/* Dropdown menu styles */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: 0; /* Align dropdown menu to the right */
}

/* Dropdown menu link styles */
.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

/* Hover effect for dropdown menu links */
.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
    display: block
}

